.nav ul {
    margin: 0;
    padding: 0;
}

.nav li{
    display: inline-flex;
}

.main-nav{
    text-align: center;
    display: inline-flex;

}

.main-header{
    background-color: rgba(0, 0, 0, .6);
    background-image: url("images/grilled -cheese-painting.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;

}

