{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<h2 class="section-header">Welcome</h2>
    <img alt="cooking on stove top." class="home-image" src="/static/images/Stove-Top-Pan.png">
    <h4 class="section-header sub-header">How it works</h4>
            <p>Looking for something to do with those leftover ingredients? Or maybe you want to save some money at the grocery store
            and maximize the usage of ingredients you already have on hand? We can help.</p>
             <p>It's simple, head over to the pantry page, input the ingredients you're looking to use, and we will return to you
             a list of recipes that should be most convenient for you to make. Give it a try.</p>
{% endblock %}