{% extends "layout.html" %}

{% block title %}
    Results
{% endblock %}

{% block main %}
    <ul>
        {% for recipe in recipes %}
            <li class="media">
                <img src="{{ recipe['image'] }}" class="align-self-center mr-3"
                alt="..." width="15%" height="15%">
                <div class="media-body">
                    <h5><a href="/recipe?id={{ recipe['id'] }}">{{ recipe['title'] }}</a></h5>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}